#primary-text {
	font-family: 'Inconsolata', monospace;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 25px;
	letter-spacing: -0.08em;
	text-transform: uppercase;

	color: #333333;
}

#scarecrow {
	width: 90%;
}

.content #title {
	font-family: 'Space Mono', monospace;
	font-style: normal;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.3em;
	letter-spacing: -0.035em;

	/* Gray 1 */
	color: #333333;
}

.content #subtitle {
	width: 60%;
	text-align: justify;
	font-family: Space Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.2em;
	letter-spacing: -0.035em;

	/* Gray 2 */
	color: #4F4F4F;
}

@media (max-width: 352px) {
	.content #subtitle {
		width: 85%;
	}
}

.content .button {
	font-family: Space Mono;
	font-style: normal;
	font-weight: bold;
	width: 40%;
	padding: 20px 0px;
	color: white;
	background-color: #333333;
	text-align: center;
}

@media (max-width: 352px) {
	.content .button {
		width: 70%;
		padding: 20px 0px;
	}
}

@media (max-width: 980px) {
	.content .button {
		width: 90%;
		padding: 20px 0px;
	}
}

footer p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;

	/* identical to box height */
	text-align: center;

	color: #BDBDBD;
}